<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fail deleting Store!</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

</head>
<body>
<nav th:replace="fragments/fragment :: navbar('store')"></nav>

<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2 th:text="${namaStore} + ' Store with store code ' + ${storeCode} + ' unavailable to delete.'"></h2>
                <p> To update, please confirm that: </p>
                <ul>
                    <li>The Store is not in Operational Hour.</li>
                    <li>Store have empty Boba Tea list.</li>
                </ul>
                <br>
                <a class="btn btn-primary" th:href="@{/store}">Home</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>