<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('store')"></nav>

<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body" style="padding: 25px;">
            <div class="justify-content-center">
                <h2 style="text-align: center;" th:text="'Add Boba to ' + ${store.name}"></h2>
                <br>
                <form th:action="@{/store/} + ${store.idStore} + @{/assign-boba}" method="POST">
                    <div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Size</th>
                                <th>Ice</th>
                                <th>Sugar</th>
                                <th>Topping</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="bobaTea, iterationStatus : ${listBobaTea}">
                                <td>
                                    <input class="form-check-input" type="checkbox" name="bobaAssignedId"
                                           th:value="${bobaTea.idBobaTea}" id="flexCheckDefault">
                                </td>
                                <td th:text="${bobaTea.name}"></td>
                                <td th:text="${bobaTea.price}"></td>
                                <div th:switch="${bobaTea.size}">
                                    <td th:case="0" th:text="S"></td>
                                    <td th:case="1" th:text="M"></td>
                                    <td th:case="2" th:text="L"></td>
                                </div>
                                <div th:switch="${bobaTea.iceLevel}">
                                    <td th:case="0" th:text="Less"></td>
                                    <td th:case="1" th:text="Normal"></td>
                                    <td th:case="2" th:text="Extra"></td>
                                </div>
                                <div th:switch="${bobaTea.sugarLevel}">
                                    <td th:case="0" th:text="Less"></td>
                                    <td th:case="1" th:text="Normal"></td>
                                    <td th:case="2" th:text="Extra"></td>
                                </div>
                                <td th:text="${bobaTea.topping == null} ? '-' : ${bobaTea.topping.name}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div><br>
                    <a class="mx-2 btn btn-outline-primary" th:href="@{/store}">Cancel</a>
                    <button class="btn btn-success" type="submit">Add Selected Boba Tea</button>
                </form>

            </div><br>
        </div>
    </div>
</div>

</body>
</html>