<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Assign Store</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('boba')"></nav>

<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body" style="padding: 25px;">
            <div class="justify-content-center">
                <h2 style="text-align: center;" th:text="'Add ' + ${bobaTea.name} + ' to Store'"></h2>
                <br>
                <form th:action="@{/boba/} + ${bobaTea.idBobaTea} + @{/assign-store}" method="POST">
                    <div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Store Code</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Operational Hour</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="store, iterationStatus : ${listStore}">
                                <td>
                                    <input class="form-check-input" type="checkbox" name="storeAssignedId"
                                           th:value="${store.idStore}" id="flexCheckDefault">
                                </td>
                                <td th:text="${store.storeCode}"></td>
                                <td th:text="${store.name}"></td>
                                <td th:text="${store.address}"></td>
                                <td th:text="${store.openHour} + '-' + ${store.closeHour}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div><br>
                    <a class="mx-2 btn btn-outline-primary" th:href="@{/boba}">Cancel</a>
                    <button class="btn btn-success" type="submit" th:text="'Add ' + ${bobaTea.name} + ' to selected stores'"></button>
                </form>
            </div><br>
        </div>
    </div>
</div>

</body>
</html>