<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Boba Tea</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('search')"></nav>

<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2 style="text-align: center">Find Available Boba Variant by Topping</h2>
                <br><br>
                <form th:action="@{/search}" method="GET">
                    <div class="row">
                        <div class="col">
                            <select name="bobaName" class="custom-select" required>
                                <option selected value="">-- Select Boba Tea Name --</option>
                                <option th:each="bobaTea : ${listBobaTea}"
                                        th:value="${bobaTea.name}"
                                        th:text="${bobaTea.name}"></option>
                            </select>
                        </div>
                        <div class="col">
                            <select name="topping" class="custom-select" required>
                                <option selected value="">-- Select Topping Name --</option>
                                <option th:each="topping : ${listTopping}"
                                        th:value="${topping.name}"
                                        th:text="${topping.name}"></option>
                            </select>
                        </div>
                        <div class="col">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </div>
                </form><br><br>

                <div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Price</th>
                            <th>Size</th>
                            <th>Ice</th>
                            <th>Sugar</th>
                            <th>Store Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="bobaTeaXStore, iterationStatus : ${listBobaTeaXStore}">
                            <td th:text="${iterationStatus.count}"></td>
                            <td th:text="'Rp ' + ${#numbers.formatInteger(bobaTeaXStore.bobaTea.price,0,'POINT')}"></td>
                            <div th:switch="${bobaTeaXStore.bobaTea.size}">
                                <td th:case="0" th:text="S"></td>
                                <td th:case="1" th:text="M"></td>
                                <td th:case="2" th:text="L"></td>
                            </div>
                            <div th:switch="${bobaTeaXStore.bobaTea.iceLevel}">
                                <td th:case="0" th:text="Less"></td>
                                <td th:case="1" th:text="Normal"></td>
                                <td th:case="2" th:text="Extra"></td>
                            </div>
                            <div th:switch="${bobaTeaXStore.bobaTea.sugarLevel}">
                                <td th:case="0" th:text="Less"></td>
                                <td th:case="1" th:text="Normal"></td>
                                <td th:case="2" th:text="Extra"></td>
                            </div>
                            <td th:text="${bobaTeaXStore.store.name}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <a class="btn btn-primary" href="/">Home</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>