<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Boba Tea</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <style>
        #aaction{
            margin:2px;
        }
    </style>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('boba')"></nav>

<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2 style="text-align: center">List Boba Tea</h2>
                <a type="button" class="btn btn-success" th:href="@{/boba/add}">+ Add Boba Tea</a>
                <br><br>
                <div th:if="${listBobaTea != null}">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Size</th>
                            <th>Ice</th>
                            <th>Sugar</th>
                            <th>Topping</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="bobaTea, iterationStatus : ${listBobaTea}">
                            <td th:text="${iterationStatus.count}"></td>
                            <td th:text="${bobaTea.name}"></td>
                            <td th:text="'Rp ' + ${#numbers.formatInteger(bobaTea.price,0,'POINT')}"></td>
                            <div th:switch="${bobaTea.size}">
                                <td th:case="0" th:text="S"></td>
                                <td th:case="1" th:text="M"></td>
                                <td th:case="2" th:text="L"></td>
                            </div>
                            <div th:switch="${bobaTea.iceLevel}">
                                <td th:case="0" th:text="Less"></td>
                                <td th:case="1" th:text="Normal"></td>
                                <td th:case="2" th:text="Extra"></td>
                            </div>
                            <div th:switch="${bobaTea.sugarLevel}">
                                <td th:case="0" th:text="Less"></td>
                                <td th:case="1" th:text="Normal"></td>
                                <td th:case="2" th:text="Extra"></td>
                            </div>
                            <td th:text="${bobaTea.topping != null} ? ${bobaTea.topping.name} : '-'"></td>
                            <td style="width: 35px">
                                <a type="button" class="btn btn-info btn-sm" th:href="@{boba/} + ${bobaTea.idBobaTea} + @{/assign-boba}">Assign</a>
                                <a type="button" class="btn btn-warning btn-sm" th:href="@{boba/update/} + ${bobaTea.idBobaTea}">Update</a>
                                <a type="button" class="btn btn-danger btn-sm" th:href="@{boba/delete/} + ${bobaTea.idBobaTea}">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div th:unless="${listBobaTea != null}">
                    <br>
                    <h3 th:text="'Tidak ada BobaTea'"></h3>
                </div>
                <br>
                <a class="btn btn-primary" href="/">Home</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>